<%= render @link %>
<div class="btn-group">
    <%= link_to "Edit", edit_link_path(@link), class:"btn btn-default"%>
    <%= link_to("Destroy", @link, method: :delete, class:"btn btn-default") %>
</div>
<div>
    <%= link_to like_link_path(@link) , method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= @link.get_votes %>
    <% end %>
    <%= link_to dislike_link_path(@link) , method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        Downvote
    <% end %>
</div>
<div>
    <%= render @link.comments %>
</div>
<div>
    <h1>new comment</h1>
    <%= form_for([@link, @comment]) do |f| %>
        <%= f.label :body %>
        <div class="fom-group">
            <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="fom-group">
            <%= f.submit 'comment', class: "btn btn-primary bnt-lg" %>
        </div>
    <% end %>
</div>
